.page-header
  %section(id="search-form")
    %div(class="text-center")
      = form_for(:note, url: notes_path, 
                :html => {:class=>"form-inline", :role => "search", :method => :get}) do |f|
        .form-group
          = f.text_field :keywords,  autofocus: true, placeholder: t(:search_for), class: "form-control",  type: "search", size:80, name:"s", value: @keywords
          %button{:id => "search", :type => "submit", :class=>"btn btn-primary"}
            %i{:class=>"fa fa-search"}
              = t(:search)
    .row
      %div(id="tag-cloud" class="col-xs-10 col-md-offset-2 col-md-8 text-center")
        - @tags.uniq.each do |tag|
          - v_style = font_size_for_tag_cloud(tag.notes.count, 1, 4)
          %span(style="#{v_style}")
            = link_to("notes?t=#{tag.id}") do
              = "##{tag.name}"

      %div(class="col-xs-2 col-md-2 text-right" style="font-size:1.5em")
        = link_to(new_note_path, title: t(:create_note)) do
          %i(class="fa fa-plus-square-o")
        

%section(id="search-results")
  %header
  %ol(class="list-group")
    - @notes.each do |note|
      %li(class="list-group-item")
        .row
          %h4
            %div(class="col-xs-8 text-left")
              = link_to raw(extract_result(note.title, @keywords)), note_path(note.id)
              %br
              %small
                = render :partial => "tags_and_date", :locals => {:tags => note.tags, :created_at => note.created_at} 
            %div(class="col-xs-4 text-right")
              %small
                = render :partial => "tool_palette", :locals => {:id => note.id}
            
        .row
          %div(class="col-xs-12 text-left")
            %h5
              =  raw extract_result(note.content_pur, @keywords, " ... ")
          