%h4
 
%section{:class => "col-sm-12 col-md-12 col-lg-offset-1 col-lg-10"}
  = form_for(:note, url: notes_path, html: { method: :post }) do |f|
  
    .form-group
      = f.label :title, t(:title)
      = f.text_field :title, autocomplete: "off", autofocus: true, placeholder: t(:title), class: "form-control font-bold-large", size:80
      
    .form-group
      = f.label :content, t(:content)
      = f.hidden_field :content
      %trix-editor{:input=>"note_content", :placeholder=>t(:content), :class => "trix-content"}
      
    .row
      %div{:class=>"col-xs-8 padded"}      
        %button{:id => "update", :type => "submit", :class=>"btn btn-primary"}
          %i{:class=>"fa fa-file-text"}
            = t(:create)

%script
  = "attach_document('#{form_authenticity_token}', '#{t(:no_attachment)}');"
  resize_editor();