- if @note then
  .page-header
    %h3
      = @note.title if @note
    .row
      %div(class="col-xs-6 text-left")
        = render :partial => "tags_and_date", :locals => {:tags => @note.tags, :created_at => @note.created_at} 
        
      %div(class="col-xs-6 text-right")
        = render :partial => "tool_palette", :locals => {:id => @note.id, :new_icon => true}
      
  %section
    .trix-content
      = find_and_preserve @note.content.html_safe
      
    
- else
  %h1
    = t :note_not_found