%h3(class="border")
  %i{:class=>"fa fa-check-square-o"}
  =t(:tasks)
  
#tasks
  - @column_titles.each_with_index do |column_title, i|

    - id = "status-#{i}"
    -if i == 2 
      .content-33-last
        %h4
          = raw column_title
        .column(id="#{id}")
          -  @tasks.select {|n| n.status==2}.each do |t|
            = render partial: "task", :locals => {:task => t} 
    - else
      .content-33
        %h4
          = raw column_title
        .column(id="#{id}")
          -  @tasks.select {|n| n.status==i}.each do |t|
            = render partial: "task", :locals => {:task => t} 
            

        
%script
  $( function() {
  $(".column").sortable({handle:"h5", connectWith:".column", receive : function (event, ui) {console.log(event);update_task_status($(ui.item).attr('id'), event.target.id)}}).disableSelection();
  } );
  
