#footer
  .container
    .row
      %div{:class=>"col-xs-8 text-left"}
        %span
          %a{:href=>"#", 'data-toggle'=>"modal", 'data-target'=>"#AboutUs"}
            %i{:class=>"fa fa-info-circle"}
              = t :about_us
        %span
          %a{ :href=>"#", 'data-toggle'=>"modal", 'data-target'=>"#Impressum"}
            %i{:class=>"fa fa-legal"}
              = t :terms
        %span
          %a{ :href=>"#", 'data-toggle'=>"modal", 'data-target'=>"#Help"}
            %i{:class=>"fa fa-question-circle"}
              = t :help
              
      %div{:class=>"col-xs-4 text-right"}
        %i{:class=>"fa fa-copyright"}
          2016 - Bernd C. Toepfer
    
    .row
      = if notice.present?  
        %aside{:class=>"notice col-xs-12 text-center"}
          = t notice
       
      = if alert.present?
        %aside{:class=>"alert col-xs-12 text-center"}
          = alert
      
%script
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57548727-1', 'auto');
  ga('send', 'pageview');

