
/ <!DOCTYPE html>
!!! 5
%html
  %head
    %meta{ 'name' => "viewport", 'content' => "width=device-width, initial-scale=1.0, maximum-scale=2.0"}
    %title
      = "GmTD V5.0"
      
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
  %body{:id => "GmTD5"}
    %nav{:class => "navbar navbar-inverse navbar-fixed-top"}
      .container
        .navbar-header
          %button{:type=>"button", :class=>"navbar-toggle", 'data-toggle'=>"collapse", 'data-target'=>"#navbar", 'aria-expanded'=>"false", 'aria-controls'=>"navbar"}
            %span{:class => "sr-only"}
              ="Toggle navigation"
            %span{:class => "icon-bar"}
            %span{:class => "icon-bar"}
            %span{:class => "icon-bar"}
          = link_to image_tag("GmTD50.svg", title: "Back to Start", alt: "Start", :height=>"50px"), root_path, {:class=>"logo"}
          
        
        #navbar{:class => "navbar-collapse collapse"}
          // Ist der Benutzer angemeldet
          - if 1==2
            .navbar-right
              %ul{:class=>"nav navbar-nav"}
                %li
                  %a{:href=>"#"}
                    = "Account"
                %li
                  %a{:href=>"#"}
                    = "Log out"
          - else
            = render 'layouts/login_form'          
              
    .container
      .row
        %div{:class => "col-sm-12"}
          = yield
            
    = render 'layouts/footer'